@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

body {
  background-color: #1b244a;
  color: white;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#scoreholder {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 80px;
  background-color: black;
  padding: 5px;
  margin: 10px;
}

.btn-group {
  display: flex;
  margin: 10px;
}
